* {
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d6efd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(216, 98%, 42%);
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: rgba(14, 174, 87, 1); */
  /* background-color: rgba(12, 116, 117, 1); */
}

.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.responseText {
  text-align: center;
  margin: 0;
}

/* Navbar */
.nav__item__link {
  text-decoration: none;
  padding: 0 10px;
}
.nav__item__link-active {
  font-weight: 500;
}
.navbar {
  background-color: #5fad41;
}
/* Navbar end */

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form_title {
  margin: 30px 0 0 30px;
}
.form {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 600px;
}
.form-label {
  font-size: 20px;
}
.form-control {
  padding: 1rem 0.75rem;
}

/* Front page */
.frontPage_container {
  padding: 30px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
  background-color: #e3e3e3;
}
.frontPage_title {
  color: #363635;
  margin-bottom: 30px;
}
.frontPage_posts {
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  border-radius: 0.375rem;
  background-color: white;
}

.date {
  font-size: 12px;
  align-self: center;
}
.dateAndName * {
  margin: 0;
}
.post-button {
  background-color: #5fad41;
  margin-bottom: 10px;
}
/* Front page end */

/* Profile page */
.profile-container {
  padding: 30px;
}
.Chat-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
